<!DOCTYPE html>
<html>
<head>
	<title>地点登録アプリ|地点詳細画面</title>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
	<script>
		function initMap() {
			var location = {lat: {{ row[4] }}, lng: {{ row[5] }}};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 15,
				center: location
			});
            var marker = new google.maps.Marker({ // ここをMarkerに修正
                position: location,
                map: map
            });
		}
	</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>{{ row[3] }}の詳細</h1>
	<p>Name: {{ row[1] }}</p>
	<p>Address: {{ row[2] }}</p>
	<p>Subname: {{ row[3] }}</p>
	<p>Latitude: {{ row[4] }}</p>
	<p>Longitude: {{ row[5] }}</p>
	<div id="map" style="height: 400px; width: 100%;"></div>
	<a href="/locations" class="btn btn-primary">戻る</a>
</body>
</html>
